/*
 * Base structure
 */

:root{
    --background-color:       #0D0B24;
    --background-color-content: darken(--background-color, 15%);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #d1d1d1;
}

h4{
    color: #000000;
}

.text-muted{
    color: #333333;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar{

    background-color: #0D0B24;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-brand{
    color: #FFFFFF !important;

}

.navbar-left{
    padding-right: 10px;
}

.navbar-logo{
    margin-top: 13px;
    width:24px;
    height:24px;

}

/*
 * Sidebar
 */



/*
 * Main content
 */

.main {
  padding: 20px;

}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  color: #333333;
  font-size: 16pt;
}

.btn-expand{
    padding-left: 5px;
    padding-right: 5px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



.message {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}





/*
* Panels
*/

.text-huge{
    font-size: 26pt;
    font-weight: bold;
}

.panel-green {
  border-color: #5cb85c !important;
}
.panel-green > .panel-heading {
  border-color: #5cb85c !important;
  color: white !important;
  background-color: #5cb85c !important;
}
.panel-green > a {
  color: #5cb85c !important;
}
.panel-green > a:hover {
  color: #3d8b3d !important;
}
.panel-red {
  border-color: #d9534f !important;
}
.panel-red > .panel-heading {
  border-color: #d9534f !important;
  color: white !important;
  background-color: #d9534f !important;
}
.panel-red > a {
  color: #d9534f !important;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
