/*
 * Base structure
 */

:root{
    --background-color:       #0D0B24;
    --background-color-content: darken(--background-color, 15%);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #d1d1d1;
}

h4{
    color: #000000;
}

.text-muted{
    color: #333333;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar{

    background-color: #0D0B24;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-brand{
    color: #FFFFFF !important;

}

.navbar-left{
    padding-right: 10px;
}

.navbar-logo{
    margin-top: 13px;
    width:24px;
    height:24px;

}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #0D0B24;
    border-right: 1px solid #000;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
}

.nav-sidebar > li > a:hover {
        background-color: #050414;
}


.nav-sidebar > .active > a{
  background-color: #292649;
}
.nav-sidebar > .active > a:hover
{
  background-color: #292649 !important;
}
.nav-sidebar > .active > a:focus {

}


/*
 * Main content
 */

.main {
  padding: 20px;

}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  color: #333333;
  font-size: 16pt;
}

/*
*
*/

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
